Repository ARMmaster17/Captain, pull requests merged in 2021-06, with the labels that each got.

#160 Bump all versions to v0.2.0
  ATC/pkg/deb/DEBIAN/control
  CHANGELOG.md
  Radar/pkg/deb/DEBIAN/control
  SECURITY.md
Labels: documentation

#165 13 2
  ATC/Builder.go
  ATC/Makefile
  ATC/Preflight/Preflight.go
  ATC/go.mod
  ATC/go.sum
  ATC/pkg/deb/DEBIAN/control
  ATC/pkg/deb/etc/captain/atc/config.yaml
  ATC/pkg/deb/etc/captain/atc/playbooks/test.yml
  ATC/testing/config_dummy_only.yaml
  CHANGELOG.md
Labels: component:ATC, component:Builder, enhancement

#170 #115 Fixed Mergify deleting a branch on closed PRs
  .mergify.yml
Labels: bug

#171 Uibranch
  CHANGELOG.md
  Radar/main.go
  Radar/static/css/main.css
  Radar/static/img/Captain.png
  Radar/templates/airspace/index.html
  Radar/templates/flight/index.html
  Radar/templates/formation/index.html
  Radar/templates/root/index.html
Labels: component:Radar, enhancement

#177 #166 Preflight playbook field in Radar/ATC
  ATC/APIServer.go
  ATC/APIServer_test.go
  ATC/Airspace.go
  ATC/Builder.go
  ATC/Builder_test.go
  ATC/DB/DB.go
  ATC/Flight_test.go
  ATC/Formation.go
  ATC/Formation_test.go
  ATC/IPAM/ReservedBlock_test.go
  ATC/IPAM/util_test.go
  ATC/ImageStore/ImageStore_test.go
  ATC/Plane.go
  ATC/Plane_test.go
  ATC/StateServer_test.go
  ATC/drivers/ProviderDriverManager_test.go
  ATC/drivers/providers/GenericPlane.go
  ATC/main_test.go
  CHANGELOG.md
  CaptainLib/Airspace.go
  CaptainLib/Airspace_test.go
  CaptainLib/CaptainAPI.go
  CaptainLib/Flight.go
  CaptainLib/Flight_test.go
  CaptainLib/Formation.go
  CaptainLib/Formation_test.go
  CaptainLib/REST.go
  Radar/airspaceHandlers.go
  Radar/clientHelpers.go
  Radar/clientHelpers_test.go
  Radar/formationHandlers.go
  Radar/rootHandlers_test.go
  Radar/templates/formation/index.html
Labels: component:ATC, component:CLI, component:Radar, enhancement
